<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Vue Webpage Builder</title>
	<% styles.forEach(function(item){ -%>
	<link rel="stylesheet" href="<%= item.url %>" />
	<% }); -%>
</head>

<body>
	<div id="app-main" style="height:100%;width:100%">
		<router-view />
	</div>
	<%- nodes %>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
	<% scripts.forEach(function(item){ -%>
	<script src="<%= item.url %>"></script>
	<% }); -%>
	<script>
		<%- inlineScript %>
    const routes = <%- path %>
    const router = new VueRouter({
      routes
    })
    const CustomVue = ("VueOption" in window) ? Vue.extend(VueOption) : Vue;
    window.vm = new CustomVue({
      el: "#app-main",
      router
    });
    window.dispatchEvent(new Event("createdVue"))
	</script>
</body>

</html>